body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

header {
    margin: 1.5rem;
    background-color: #fdf5e6; /* Light beige */
    color: #5a5a5a; /* Dark gray text */
}

main h1 {
    font-size: 2rem;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
}

.description p {
    font-size: 1rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.notice {
    background-color: #fdf5e6; /* Light beige */
    border: 1px solid #d2b48c; /* Tan border */
    padding: 1rem;
    text-align: center;
    margin-top: 2rem;
    border-radius: 5px;
    color: #5a5a5a; /* Dark gray text */
}

.notice .paused-message {
    font-size: 1rem;
    color: #8b4513; /* Saddle brown text */
}

.image-upload {
    text-align: center;
    margin-top: 2rem;
}

#dropZone {
    width: 100%;
    height: 200px;
    border: 2px dashed #d2b48c; /* Tan border */
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #272727;
    font-size: 1.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

#dropZone:hover {
    background-color: #f1e2c6; /* Wheat color */
    color: #582d0f; /* Saddle brown text */
}

#imagePreview {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    display: none;
}